
.titillium-web-extralight {
  font-family: var(--font-family);
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: var(--font-family);
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: var(--font-family);
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: var(--font-family);
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: var(--font-family);
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: var(--font-family);
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: var(--font-family);
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: italic;
}