@import url('fonts.css');

:root {
  --font-family: 'Titillium Web', sans-serif;
  --primary-color: #cc0000;
}

html, body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-group, .dropdown-menu {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  border: 2px solid var(--primary-color);
  border-radius: 0 !important;
}

.list-group-item, .dropdown-item {
  margin: 0;
  border: 1px solid var(--primary-color);
  padding: .75rem;
}

.dropdown-item:hover {
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu.product-categories-list {
  margin-top: 0;
}
/* Navbar */
.navbar {
  background-color: white;
  height: 70px;
}

a:hover, a:focus, a:active, a* {
  color: black;
}
/* Logo Container */
.logo-container {
  display: block;
  text-align: center;
  background-color: var(--primary-color);
  font-family: "Orbitron", sans-serif;;
  color: white;
  padding: .5rem;
  height: 70px;
}

.logo-container>.logo-title {
  color: transparent;
  line-height: 1.2;
  -webkit-text-stroke: 2px white;
  -moz-text-stroke: 2px white;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 3px;
}

.logo-container:hover .logo-title {
  -webkit-text-stroke: 2px black;
  -moz-text-stroke: 2px black;
}

.logo-container>.logo-subtitle {
  font-size: .75rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.form-control, .btn, .list-group {
  border-radius: 0 !important;
}

.form-control:focus {
  border-color: #fe8690;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(253, 13, 33, 0.25);
}

#search-input {
  position: relative;
  width: fit-content;
}

#search-input>.form-control {
  width: 400px;
  transition: width 0.4s ease-in-out;
  padding-left: 11%;
}

#search-input>.bi-search {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

/* Product Categories List */
.product-categories-list {
  width: fit-content;
  border: 2px solid var(--primary-color);
}
.product-categories-list .list-group-item {
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hero Section */
.hero-title {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* Swiper */
.swiper-pagination{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet-active {
  background: var(--primary-color, var(--primary-color));
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  height: 12px;
  width: 12px;
}